<header class="header d-flex justify-content-between align-items-center gap-2">
  <div class="left-section d-flex align-items-center justify-content-start gap-3">
   <!-- TODO -->
  </div>
  
  <div class="right-section d-flex align-items-center gap-2">
    @if (isLoggedIn()) {
      <div class="user d-flex align-items-center gap-1">
        <img class="avatar" [src]="user()?.picture" (error)="onAvatarError($event)"/>
        <span>{{ user()?.name }}</span>
        <button mat-button (click)="logout()">Logout</button>
      </div>
    } @else {
      <app-google-login [isHeader]="true"></app-google-login>
    }

    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
  </div>
</header>

