.header {
  padding-inline: 2rem; // x padding
  padding-block: 1rem; // y padding
  border-bottom: 1px solid var(--sidebar-border);
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  height: 5dvh;
  flex-shrink: 0;
}

.left-section {
  .search-field {
    width: 100%;
    min-width: 20vw;
    vertical-align: middle;
  }
}

.right-section {
  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .user {
    text-transform: none;
  }
}
