.sidenav-container {
  height: 100vh;
  position: static;
}

.custom-sidenav {
  width: 15rem;
  padding: 1rem;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  border-right: 1px solid var(--sidebar-border);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;   
}

.sidenav-logo {
  font-size: 2rem;
  text-align: center;
  color: var(--sidebar-icon);
}

.sidenav-title {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

button[mat-button] {
  justify-content: flex-start;
  border-radius: 0.5rem;

  &.active {
    color: var(--sidebar-accent);
    font-weight: 600;
  }
}

.logo {
  height: 4rem;
  width: fit-content;
}