<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" opened class="custom-sidenav">

    <div class="sidenav-section d-flex-column">
      <div class="logo-container d-flex justify-content-start align-items-center">
        <img src="images/book-haven-logo1.png" alt="Book Haven Logo" class="logo">
        <span class="title-bold">Book Haven</span>
      </div>
      
      <p class="sidenav-title title-normal">My Library</p>
      <button mat-button>Dashboard</button>
      <button mat-button (click)="goToSearchBooks()">Search </button>
      <button mat-button>Favorites </button>
      <button mat-button>My Shelves</button>
      <button mat-button>Reading Progress</button>
      <button mat-button>Purchased</button>
      
    </div>

    <div class="sidenav-section d-flex-column">
      <p class="sidenav-title title-normal">Browse</p>
      <button mat-button>Categories </button>
      <button mat-button>Settings </button>
    </div>
  </mat-drawer>
</mat-drawer-container>
