<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" opened class="custom-sidenav">

    <div class="sidenav-section">
      <button mat-button>Dashboard</button>
      <button mat-button>Deployments</button>
      <button mat-button>Activity</button>
      <button mat-button>Domains</button>
      <button mat-button>Usage</button>
      <button mat-button>Settings</button>
    </div>

    <div class="sidenav-section">
      <p class="sidenav-title">Your teams</p>
      <button mat-button>Planetaria</button>
      <button mat-button>Protocol</button>
      <button mat-button>Tailwind Labs</button>
    </div>
  </mat-drawer>
</mat-drawer-container>
