.book-card {
  .card-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    min-height: 4.5em;
    max-height: 4.5em;
    text-align: justify;
  }

  .card-content-tooltip {
    white-space: pre-line;
    height: fit-content;
  }

  .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    line-height: 1.4; 
    min-height: calc(1.4em * 3); // 3 lines
  }

  .card-subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; // show 2 lines
    overflow: hidden;

    line-height: 1.3; 
    min-height: calc(1.3em * 2);
    max-height: calc(1.3em * 2);
  }
}

.book-image-wrapper {
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* Avatar */
.book-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}