@if (book) {
  <div class="col">
    <mat-card class="book-card h-100" appearance="outlined">

      @if (viewMode == 'withImage') {
        <div class="book-image-wrapper">
          <img mat-card-image [src]="book.volumeInfo.imageLinks?.smallThumbnail?.replace('zoom=5', 'zoom=3') || defaultCover" alt="Book cover"/>
        </div>
      }
      
      <!-- Header -->
      <mat-card-header>
        <div mat-card-avatar class="book-avatar">
          <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="avatar">
        </div>
        <mat-card-title class="card-title">
          {{ book.volumeInfo.title }}
        </mat-card-title>
        <mat-card-subtitle class="card-subtitle">
          {{ book.volumeInfo.authors?.join(', ') ?? 'N/A' }}
        </mat-card-subtitle>
      </mat-card-header>

      <!-- Content -->
      <mat-card-content class="card-content my-3" [matTooltip]="book.volumeInfo.description" matTooltipClass="card-content-tooltip">
        {{ book.volumeInfo.description ?? 'No description available' }}
      </mat-card-content>

      <!-- Actions -->
      <mat-card-actions class="mt-auto">
        <button mat-button (click)="showInfo(book.volumeInfo.infoLink)">Info</button>
        <button mat-button (click)="showPreview(book.volumeInfo.previewLink)">Preview</button>
      </mat-card-actions>

    </mat-card>
  </div>
}
