@use '@angular/material' as mat;
@use 'app/styles/theme-colors' as theme;

// Light Theme
.light-theme {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0,
  ));
  

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  --sidebar-bg: #f9fafb;
  --sidebar-text: #1f2937;
  --sidebar-border: #e5e7eb;
  --sidebar-icon: #6b7280;
  --sidebar-accent: #6366f1;
  --sidebar-hover-bg: #eef2ff; // soft hover background
  --sidebar-hover-text: #4338ca; // optional deeper indigo
  --sidebar-logo-text: #766eda;

  --title-color:#766eda;

  --mat-icon: #605d62;
  --mat-icon-primary: #6750a4; 
  --mat-icon-accent: #625b71; 
  --mat-icon-warn: #ba1a1a;

  --mat-spinner-color: #6750a4;
}

// Dark Theme
.dark-theme {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0,
  ));

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);


  --sidebar-border: #1f2937;
  --sidebar-icon: #9ca3af;
  --sidebar-accent: #c4b5fd;     
  --sidebar-logo-text: #9f9cc6;

  --title-color:#9f9cc6;

  --mat-icon: #cac5cb;
  --mat-icon-primary: #938ba9; 
  --mat-icon-accent: #ccc2dc; 
  --mat-icon-warn: #ffb4ab;

  --mat-spinner-color: #938ba9;
}

// Global reset styles (unchanged)

// General
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Titles
.title-bold {
  color: var(--title-color);
  font-weight: 500;
}

.title-normal {
  color: var(--title-color);
}

// Cards
.mat-mdc-card-title {
  color: var(--title-color);
  font-weight: 500 !important;
  font-size: medium !important;
}

.mat-mdc-card-subtitle {
  color: var(--mat-sys-primary-container) !important;
  font-size: small !important;
}

// Mat icons
.mat-icon.mat-primary { color: var(--mat-icon-primary) }
.mat-icon.mat-accent { color: var(--mat-icon-accent) }
.mat-icon.mat-warn { color: var(--mat-icon-warn) }

// Angular Material Overrides
:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--mat-spinner-color),
  ));

  // TODO: Set tooltip colors
  // @include mat.tooltip-overrides((
  //   container-color: orange,
  //   container-shape: red,
  // ));
}

